*/log/
*/build/
*/install/
/.vscode
**/.venv
/venv
sensoring_data/*.csv

**/build
**/install
**/log

**/__pycache__/
**/*.pyc
**/*.pyo

**/solver/*/output/*

src/output/*

drone_planner/src/drone_planner/output/